@import "tailwindcss";

/* globals.css or hero.css */

.hero-title {
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}

.hero-subtitle {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.hero-btn {
  box-shadow: 0 8px 24px rgba(255, 191, 0, 0.3);
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 32px rgba(255, 191, 0, 0.4);
}
h1 {
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.hero p {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

a {
  transition: all 0.3s ease;
}


/* in globals.css */
.hero-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
}

.logo-width{
  max-width: 120px;
}

.bg-gold-400{
  background-color: #dc9314;
}
.gold-text-color{
  color: #93620d;
}

/* Hide Scrollbar but keep scroll working */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.product-nav{
  margin-top: 90px;
}

.product-nav-details{
  margin-top: 40px;
}

.cart-pad{
  margin-top: 80px;
}

video::-webkit-media-controls {
  display: none !important;
}
.ticker{
  background-color: #b3008f !important;
}
.theme{
  background-color: #b3008f !important;
}
